/*
* @Author: JimmyLLLL
* @Date:   2018-05-07 22:41:55
* @Last Modified by:   JimmyLLLL
* @Last Modified time: 2018-05-08 16:02:35
*/
#total-module
{
	position: absolute;
	top: 280px;
	left: 220px;
	width: 995px;
	height: 780px;
}